<h1>Hai Orang Baik</h1>
<p>
    Bantu dukung game saya bang, dengan download atau paling tidak mengunjungi link play store saya
    <a href="https://play.google.com/store/apps/dev?id=8519893492080177777" class="link" target="_blank">disini</a> atau
    bisa langsung klik link di bawah ini
</p>
<ul>
    <li>
        <a href="https://play.google.com/store/apps/details?id=com.KenTank.MudikRush" class="link" target="_blank">
            Mudik Rush
        </a>
    </li>
    <li>
        <a href="https://play.google.com/store/apps/details?id=com.KenTank.Bouncer" class="link" target="_blank">
            Pocket Game: Bouncer
        </a>
    </li>
    <li>
        <a href="https://play.google.com/store/apps/details?id=com.kentank.larimasbro" class="link" target="_blank">
            Lari Masbro
        </a>
    </li>
    <li>
        <a href="https://play.google.com/store/apps/details?id=com.KenTank.ZombieSurvival" class="link" target="_blank">
            Zombie Survival
        </a>
    </li>
    <li>
        <a href="https://play.google.com/store/apps/details?id=com.KenTank.DuckW" class="link" target="_blank">
            Bebek Panjaaaang
        </a>
    </li>
    <li>
        <a href="https://play.google.com/store/apps/details?id=com.KenTank.BalancingMarbles" class="link"
            target="_blank">
            Balancing Marble
        </a>
    </li>
    <li>
        <a href="https://play.google.com/store/apps/details?id=com.kentank.portalrunner" class="link" target="_blank">
            Portal Runner
        </a>
    </li>
    <li>
        <a href="https://play.google.com/store/apps/details?id=com.kentank.spacesurvival" class="link" target="_blank">
            Space Survival
        </a>
    </li>
</ul>
<p>
    Terimakasih orang baik 😊🙏
</p>