<h1>Download Source Code</h1>
<p>Silahkan Dowload Source Codenya dengan klik Tombol di bawah ini, dengan key yang telah kami berikan sebelumnya</p>
<span class="warning" id="download_msg" hidden></span>
<div class="flex flex-row not-sm:justify-between md:w-[300px]">
    <div class="border border-gray-500 flex flex-row items-center p-1 grow">
        <input type="password" name="download_key" id="download_key" placeholder="Unlock Key"
            class="outline-none size-full">
    </div>
    <button onclick="Unlock()" class="button">Download</button>
</div>