<h1>Profil Project</h1>
<table class="table-auto border-separate border-spacing-y-2 mytable">
    <thead>
        <th class="w-32"></th>
        <th class="w-2"></th>
        <th></th>
    </thead>
    <tbody>
        <tr>
            <td>Nama</td>
            <td>:</td>
            <td id="project_name"></td>
        </tr>
        <tr>
            <td>Deskripsi</td>
            <td>:</td>
            <td id="project_description"></td>
        </tr>
        <tr>
            <td>Target Platform</td>
            <td>:</td>
            <td id="project_platform" class="flex flex-row items-center gap-1">
                <span class="inline-item"></span>
            </td>
        </tr>
        <tr>
            <td>Kontrol Input</td>
            <td>:</td>
            <td id="project_input" class="flex flex-row items-center gap-1">
                <span class="inline-item"></span>
            </td>
        </tr>
    </tbody>
</table>