<a href="{{ path }}" class="card card-link group">
    <h1>{{ name }}</h1>
    <div class="flex flex-row not-xl:flex-col xl:justify-between gap-2">
        <div class="xl:max-w-[400px] flex flex-col gap-1.5 whitespace-pre-line wrap-normal">
            <div class="flex flex-row gap-2">
                <span class="shrink-0">Support:</span>
                <div class="flex flex-row items-center gap-1 flex-wrap">
                    <span id="platform-item" class="bg-green-900 text-green-500 border border-green-800 px-1.5 py-0.5 text-xs rounded-sm">{{ platform }}</span>
                </div>
            </div>
            <p>{{ description }}</p>
        </div>
        <div class="xl:w-[200px] not-xl:w-full shrink-0 xl:group-hover:w-[400px] duration-200">
            <img hidden src="{{ thumbnail }}" class="size-full object-contain">
        </div>
    </div>
    <div class="flex flex-row-reverse">
        <span class="link-nohover group-hover:text-green-300 font-medium">Selengkapnya ></span>
    </div>
</a>